<html>

    <link rel="stylesheet" href="css/style.css"/>
    <h1>Online Sweet Store</h1>
    <div class="container-fluid">
    <img src="image/logo.png"/>
    <h2>Contact Owner</h2>

<p>{{name}}</p>
<p>{{phone}}</p>
<p>{{address}}</p>
<p>{{email}}</p>

<body>
        <a href="/product">Product</a>

</body>
</div>
</html>




