<html>
<link  rel="stylesheet" href="css/style1.css">









<select>
    {{#each products}}
    <option>{{this}}</option>
    {{/each}}
</select>
{{!--<ul>
    {{#each products}}
    <li>{{this}}</li>
    {{/each}} 
    --}}
</ul>
<ul>
<img src="image/laddu.jpg"/> 
<p1></p1>Laddu </p1> 
</ul>

<ul>
<img src="image/barfi.jpg"/>
<p1>Barfi</p1>
</ul>

<ul>
<img src="image/jalebi.jpg"/>
<p1>Jalebi</p1>
</ul>
 </html>